/* Header */
header {
  background-color: aqua;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav  {
  font-size: 30px;
  display: flex;
  gap: 15px;
  margin: 0;
  height: 100%;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0 10px;
}

/* nav a:hover { 
  
}*/

.active {
  background-color: antiquewhite;
}

/* main page */
main {
  min-height: 73vh;
  padding: 20px 50px;
}
/* About page */
.about_page h2 {
    margin-bottom: 15px;
    width: 200px;
    text-align: center;
}

.about_page img {
  width: 200px;
  border-radius: 20px; 
}

.about_page p {
  line-height: 2;
  font-size: 20px;
}

/* Portfolio page */

.portfolio_page h2 {
  margin-bottom: 15px;
}

.portfolio_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

}

.project {
  height: 300px;
  width: 300px;
  background-color: #ccc;
  border-radius: 5px;
}

.portfolio_page h2 {
  text-align: center;
}

.project img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 300px;
  height: 250px;

}

.project h3 {
  color: darkgreen;
  padding: 0 10px;
}

.project div {
  display: flex;
  justify-content: space-between;
}

.project div a {
  display: inline-block;
  width: 49%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

/* footer */

footer {
  background-color: black;
  text-align: center;
  padding: 50px;
  color: white;
}